In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('./SMSSpamCollection.txt', sep='\t', header=-1, names=["type", "text"])
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [30]:
df['y'] = 0
df.loc[df.type == 'spam', 'y'] = 1
df.head()

   type                                               text  y
0   ham  Go until jurong point, crazy.. Available only ...  0
1   ham                      Ok lar... Joking wif u oni...  0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...  1
3   ham  U dun say so early hor... U c already then say...  0
4   ham  Nah I don't think he goes to usf, he lives aro...  0

In [32]:
from sklearn import feature_extraction
vect = feature_extraction.text.CountVectorizer()

In [42]:
X = vect.fit_transform(df.text)
y = df.y

In [43]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [57]:
clf = LogisticRegression(random_state=2)
cv = cross_val_score(cv=10, estimator=clf, X=X, y=y, scoring='f1')

In [59]:
with open('answer1.txt', 'w') as fl:
    fl.write(str(np.round(cv.mean(), 1)))

In [60]:
clf.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=2, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [61]:
test = [
    "FreeMsg: Txt: CALL to No: 86888 & claim your reward of 3 hours talk time to use from your phone now! Subscribe6GB",
    "FreeMsg: Txt: claim your reward of 3 hours talk time",
    "Have you visited the last lecture on physics?", 
    "Have you visited the last lecture on physics? Just buy this book and you will have all materials! Only 99$",
    "Only 99$"
]

In [68]:
prediction = clf.predict(vect.transform(test))
with open('answer2.txt', 'w') as fl:
    fl.write(' '.join(list(map(str, prediction))))

In [69]:
vect2 = feature_extraction.text.CountVectorizer(ngram_range=(2,2))
vect3 = feature_extraction.text.CountVectorizer(ngram_range=(3,3))
vect4 = feature_extraction.text.CountVectorizer(ngram_range=(1,3))

In [70]:
X2 = vect2.fit_transform(df.text)
X3 = vect3.fit_transform(df.text)
X4 = vect4.fit_transform(df.text)

In [73]:
cv2 = cross_val_score(cv=10, estimator=clf, X=X2, y=y, scoring='f1')
cv3 = cross_val_score(cv=10, estimator=clf, X=X3, y=y, scoring='f1')
cv4 = cross_val_score(cv=10, estimator=clf, X=X4, y=y, scoring='f1')

In [76]:
with open('answer3.txt', 'w') as fl:
    fl.write(' '.join(list(map(lambda x: str(np.round(x, 2)), [cv2.mean(), cv3.mean(), cv4.mean()]))))

In [77]:
from sklearn.naive_bayes import MultinomialNB

In [78]:
clf = MultinomialNB()

cv2 = cross_val_score(cv=10, estimator=clf, X=X2, y=y, scoring='f1')
cv3 = cross_val_score(cv=10, estimator=clf, X=X3, y=y, scoring='f1')
cv4 = cross_val_score(cv=10, estimator=clf, X=X4, y=y, scoring='f1')

with open('answer4.txt', 'w') as fl:
    fl.write(' '.join(list(map(lambda x: str(np.round(x, 2)), [cv2.mean(), cv3.mean(), cv4.mean()]))))

In [89]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer

In [90]:
tfidf = TfidfTransformer()
X_tfidf = tfidf.fit_transform(X)

In [94]:
cv = cross_val_score(cv=10, estimator=LogisticRegression(random_state=2), X=X_tfidf, y=y)

In [97]:
with open('answer5.txt', 'w') as fl:
    fl.write('1')